body {
	background: #fefefe;
}

h1 {
	color: #5C5B57;
	background: #F9E5C9;
}

h2 {
	color: #5C5B57;
	background: #F9E5C9;
}

h3 {
	color: #505F4E;
}

section {
	background: #9bb5ce;
}

footer {
	background: #F5F5F0;
}